# 스코프 강제
@kma:registry=http://localhost:8081/repository/npm-private/

# 인증 강제 + 항상 인증 사용
# login 하면 자동 채워짐
//localhost:8081/repository/npm-private/:_auth=YWRtaW46bmV4dXNhZG1pbjE=
//localhost:8081/repository/npm-private/:_always-auth=true

# 불필요한 경고 줄이기
engine-strict=false