/* 모바일 전용 스타일 */

@media (max-width: 767px) {

  /* === 공통 스타일 === */
  section.bg-kma-deco{
  /* 예시: section.bg-kma에 3개의 png 백그라운드 이미지를 적용하는 방법 */
    background-image: 
      url('../images/mobile/bg-deco-t-left.png'),
      url('../images/mobile/bg-deco-t-right.png'),
      url('../images/mobile/bg-deco-b-left.png'),
      url('../images/mobile/bg-deco-b-right.png');
    background-position: left top, right top 15%, left bottom, right bottom 20%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; 
    background-size: 133px 100px, 27px 75px, 173px 166px, 234px 210px;
  }

  /* === 공통 버튼 === */
  .btn-info-help{
    position: fixed;
    top: auto;
    bottom: 40px;
    right: 16px;
    transform: translateX(0);
  }

  /* === Header === */
  header .logo-kma {
    width: 74px;
    height: 40px;
    background: url('../images/logo-kma-02.png') no-repeat center / contain;
    display: block;
  }
  
  /* === LNB === */
  .btn-mobile-menu {
    width: 40px;
    height: 40px;
    background: url('../images/mobile/icon-top-hamburger.svg') center / 24px auto no-repeat;
  }

  .kma-lnb-wrap .switch-theme{ 
    width: 100%;
  }
  
  .kma-lnb-wrap .btn-lnb-close{
    margin-left: auto;
  }

  .kma-lnb-wrap .wide{
    margin-left: -10px;
    margin-right: -10px;
  }

  .kma-lnb-wrap .btn-toggle-text{
    padding-left: 6px;
  }
  
  .btn-lnb-close{
    width: 40px;
    height: 40px;
    background: url('../images/mobile/icon-popup-close.svg') center / 24px auto no-repeat;
  }
  
  /* === 입력 프롬프트 === */
  .btn-chat-send{
    width: 40px;
    height: 40px;
  }

  
  /* === 대화상세 === */
  .btn-scroll-bottom{
    bottom: 158px;
  }





}


