/* 모바일 전용 스타일 */

@media (max-width: 767px) {

  /* === 공통 스타일 === */
  section.bg-kma-deco{
  /* 예시: section.bg-kma에 3개의 png 백그라운드 이미지를 적용하는 방법 */
    background-image: 
      url('../images/mobile/bg-deco-t-left.png'),
      url('../images/mobile/bg-deco-t-right.png'),
      url('../images/mobile/bg-deco-b-left.png'),
      url('../images/mobile/bg-deco-b-right.png');
    background-position: left top, right top 15%, left bottom, right bottom 20%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; 
    background-size: 133px 100px, 27px 75px, 173px 166px, 234px 210px;
  }

  /* === 공통 버튼 === */
  .btn-info-help{
    top: 66px;
    right: 16px;
  }

   /* === 공통 팝업 === */
   .popup-wrap .popup-title {
    padding: 20px 20px 10px;
  }
  
  .popup-wrap .popup-footer {
    padding: 14px 20px 26px;
  }
  
  .popup-wrap .popup-content {
    padding: 26px 20px 16px;
  }

  /* === 공통 인풋 === */
  .textarea-box textarea{
    height: 160px;
  }

  /* === Header === */
  header .logo-kma {
    width: 74px;
    height: 40px;
    background: url('../images/logo-kma-02.png') no-repeat center / contain;
    display: block;
  }
  
  /* === LNB === */
  .btn-mobile-menu {
    width: 40px;
    height: 40px;
    background: url('../images/mobile/icon-top-hamburger.svg') center / 24px auto no-repeat;
  }

  .kma-lnb-wrap .switch-theme{ 
    width: 100%;
  }
  
  .kma-lnb-wrap .btn-lnb-close{
    margin-left: auto;
  }

  .kma-lnb-wrap .wide{
    margin-left: -10px;
    margin-right: -10px;
  }

  .kma-lnb-wrap .btn-toggle-text{
    padding-left: 6px;
  }
  
  .btn-lnb-close{
    width: 40px;
    height: 40px;
    background: url('../images/mobile/icon-popup-close.svg') center / 24px auto no-repeat;
  }
  
  /* === 입력 프롬프트 === */
  .btn-chat-send{
    width: 40px;
    height: 40px;
  }

  
  /* === 대화상세 === */
  .btn-scroll-bottom{
    bottom: 158px;
  }

  /* === KMA 내부지식 챗봇 === */
  .category-card-wrap button.ic-association{
    background: url('../images/mobile/icon-menu-search-s.png') center left 18px / 58px auto no-repeat var(--kma-white-01);
  }
  .category-card-wrap button.ic-board{
    background: url('../images/mobile/icon-menu-guide-s.png') center left 18px / 58px auto no-repeat var(--kma-white-01);
  }
  .category-card-wrap button.ic-license{
    background: url('../images/mobile/icon-menu-license-s.png') center left 18px / 58px auto no-repeat var(--kma-white-01);
  }
  .category-card-wrap button.ic-credit{
    background: url('../images/mobile/icon-menu-complaints-s.png') center left 18px / 58px auto no-repeat var(--kma-white-01);
  }

  button.ic-license:disabled + button.ic-credit:disabled{
    margin-top: 0;
  }

  .category-card-wrap div.ic-association{
    background: url('../images/mobile/icon-menu-search-s.png') top 40px center / 58px auto no-repeat var(--kma-white-01);
  }
  .category-card-wrap div.ic-board{
    background: url('../images/mobile/icon-menu-guide-s.png') top 40px center / 58px auto no-repeat var(--kma-white-01);
  }
  .category-card-wrap div.ic-license{
    background: url('../images/mobile/icon-menu-license-s.png') top 40px center / 58px auto no-repeat var(--kma-white-01);
  }
  .category-card-wrap div.ic-credit{
    background: url('../images/mobile/icon-menu-complaints-s.png') top 40px center / 58px auto no-repeat var(--kma-white-01);
  }

  /* === 나만의 비서 === */
  .assistant-init-wrap {
    margin-top: 29px;
    background: url('../images/icon-secretary.svg') top center / 100px auto no-repeat;
  }

  .btn-assistant-create > strong{
    display: inline-block;
    line-height: 30px;
    padding-top: 0;
    padding-left: 38px;
    background: url('../images/icon-add-ms.svg') top left / 30px auto no-repeat;
  }

  .btn-assistant {
    background-size: 56px auto;
    background-position: top 28px left 16px;
  }

  .assistant-type-list{
    flex-wrap: wrap;
  }

  .assistant-type-list > li{
    flex: none;
    width: calc(50% - 4px);
  }

  .assistant-type-list label{
    padding: 14px 16px;
  }

  /* === 보관함 === */

  .nodata-box > p{
    background-size: 80px auto;
  }

  /* === Dark Mode === */
  [data-theme='dark'] {
    header .logo-kma {
      background-image: url('../images/dark-mode/logo-kma-02.png');
    }
  
    .btn-mobile-menu {
      background-image: url('../images/mobile/dark-mode/icon-top-hamburger.svg');
    }

    .btn-lnb-close {
      background-image: url('../images/mobile/dark-mode/icon-popup-close.svg');
    }

    section.bg-kma-deco{
      background-image: 
        url('../images/mobile/dark-mode/bg-deco-t-left.png'),
        url('../images/mobile/dark-mode/bg-deco-t-right.png'),
        url('../images/mobile/dark-mode/bg-deco-b-left.png'),
        url('../images/mobile/dark-mode/bg-deco-b-right.png');
    }
  }
}

